body,span,p{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
.bg-gray-color{
    background-color: #F9FAFB;
}
a{
    text-decoration: none;
    color: black;
}
/* HEADER CSS */
.own-container .container-fluid,.slider-sec .container-fluid{
    max-width: 1480px;
    margin: auto;

}
ul.navbar-nav {
    margin-left: auto;
    list-style: none;
}
.navbar-nav a {
    padding: 0px 20px;
    text-decoration: none;
    color: #111;
    font-size: 18px;
}
.header-search-icon {
    display: flex;
    align-items: center;
}
.header-search-icon span {
    border-right: 1px solid #ddd;
    padding: 0 10px;
}
.header-search-icon i.fas.fa-search {
    font-size: 30px;
}
.navbar-nav li a i {
    font-size: 12px;
}
ul.navbar-nav{}
ul.navbar-nav li{
    position: relative;
}
ul.navbar-nav li ul{
    list-style: none;
    position: absolute;
    top: 220%;
    left: 0;
    width: 250px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

}
ul.navbar-nav li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 180%;
}
ul.navbar-nav li ul li {}
ul.navbar-nav li ul li a{}
ul.navbar-nav li ul li a:hover{}
.header-call {
    display: flex;
    width: 200px;
    align-items: center;
}
.header-call-icon span {
    padding: 0 17px;
}
.header-call-icon span a{
    color: #f0373a;
}
i.fas.fa-phone-volume {
    font-size: 32px;
}

.header-call-number span {
    display: block;
}
button.btn.btn-primary {
    padding: 9px 46px;
    position: relative;
    transition:.3s ;
    z-index: 1;
    border-color:#f0373a ;
    background-color: #f0373a !important;
}
button.btn.btn-primary::after {
    content:'' ;
    top: 0;
    left: 0;
    transition: .3s;
    position: absolute;
    width: 0%;
    height: 100%;
    border-color:#111 !important ;
    background-color: #111 !important;
    z-index: -1;
}
button.btn.btn-primary:hover{
    border-color: #111;
}
button.btn.btn-primary:hover::after {
    width: 100%;
}

/* SLIDER SEC */
.slider-sec{
    background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg) top center no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
    
    
    
}
.slider-content-col{
   position: relative;
   height: 90vh;
   display: flex;
   align-items: center;
}
.banner-icon {
    position: absolute;
    left: 16px;
    top: 90%;
}
.banner-icon ul{
    display: flex;
    list-style: none;
    
    
}
.banner-icon ul li a{
    padding: 0 10px;
    display: inline-block;
}
.banner-icon ul li span {
    margin-right: 50px;
    position: relative;
}
.banner-icon ul li a i{
    font-size: 18px;
}
.banner-icon ul li span::after {
    content: '';
    top: 9px;
    left: 77px;
    height: 1px;
    width: 35px;
    position: absolute;
    background-color: #111;
}
.banner-content h6{
    color: #f0373a;
}
.banner-content h1{
    font-size: 60px;
}
.banner-content p {
    font-size: 20px;
    color: #606060;
    font-weight: 400;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* headline */
.headline{
    border-bottom: 1px solid #ddd;
}
.headline .headline-img{
    
}
.headline .headline-img ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.headline .headline-img ul li{}
.headline .headline-img ul li a{}

/* about-sec */
.about-image{
    position: relative;
}
.about-text-img {
    background: url(https://templates.envytheme.com/finix/default/assets/img/about/shape.png) no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.about-text-img .about-text-iner{
   
}
.about-text-img .about-text-iner h2 {
    font-size: 64px;
    color: #f0373a;
}
.about-text-img .about-text-iner p {
    font-size: 17px;
    font-weight: 500;
}
.comon-text h2 {
    font-size: 37px;
    font-weight: 400;
}
.comon-text h3 {
    font-size: 18px;
    color: #f0373a;
}
.comon-text p{}
.comon-text strong {
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 13px;
    display: block;
}
.about-text .comon-text  ul{
    list-style: none;
    padding-bottom: 30px;

}
.about-text .comon-text ul li{
   
}
.about-text .comon-text ul li::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    height: 50px;
    width: 50px;
    padding: 6px;
    color: #f0373a;
}
.about-text .comon-text ul li::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    height: 50px;
    width: 50px;
    padding: 6px;
    color: #f0373a;
}
/* fathuers-itmes */


.fathuers-itmes{
   
}
.futcher-iner{
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}
.futcher-iner:hover{
    transform: translateY(-15px);
}.futcher-iner:hover .iner-icon i{
    color: #fff;
    
    background: #f0373a;
}
.futcher-iner h3{}
.futcher-iner p{}
.iner-icon{}
.iner-icon i {
    transition: .5s;
    color: #f0373a;
    font-size: 40px;
    background: #fff;
    height: 90px;
    width: 90px;
    line-height: 92px;
    border-radius: 50%;
}

.margin-top30{
    margin-top: -23px;
}
.why-chuse{
    position: relative;
}
a.play-animestion-btn {
    color: red;
    font-size: 60px;
    width: 90px;
    height: 90px;
    margin: auto;
    position: relative;
    position: absolute;
    bottom: 53px;
    right: 247px;
    line-height: 95px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
a.play-animestion-btn::before{
    background-color: #f0373a;
    width: 90px;
    height: 90px;
    top: 0;
    content: '';
    left: 0;
    position: absolute;
    border-radius: 50%;
    animation: play-bn 1.6s ease-out infinite ;
}
@keyframes play-bn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .8;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}